.insideAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name {
  margin: 10px 0px;
}

.name h2 {
  color: white;
}

.myname {
  font-weight: 700;
  font-size: 50px;
  color: white;
}

.tecno {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.tecno h2 {
  color: white;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  flex: 3;
  flex-direction: column;
}

.p {
  font-weight: 100;
}

.desktop {
  max-width: 90%;
  object-fit: cover;
}

.con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 80%;
  height: 90%;
}

.hire-me {
  margin: 15px 3px;
  padding: 7px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  transition: 0.5s;
  font-weight: 700;
  display: flex;
  border-radius: 20px;
}

.hire-me:hover {
  color: rgb(255, 0, 191);
  opacity: 1;
  background-color: white;
}

.me {
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.me p {
  text-align: justify;
}
.me h3,
.me p strong {
  color: rgb(255, 0, 191);
}

.desktop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex: 2;
  min-width: 150px;
}
