.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  min-height: 600px;
  color: white;
  margin: 20px 40px;
  flex-direction: column;
}

.contact-container h2 {
  color: white;
}
