footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  padding-top: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.social-icon {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  border: 2px solid white;
  margin: 2px;
  padding: 2px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: 0.5s;
}

.social-icon:hover {
  color: black;
  opacity: 1;
  background-color: white;
}

.footer-menu-container {
  list-style-type: none;
  color: white;
  font-size: 18px;
  padding: 0;
}

.footer-link {
  margin: 2px 3px;
  cursor: pointer;
  opacity: 0.8;
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
  opacity: 1;
}

.copyright {
  color: white;
  opacity: 0.3;
  text-align: center;
}
