.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0;
}

.carousel-indicators {
  align-items: center;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
  margin-top: 20px;
  padding: 1px 15px;
}

.carousel-indicators .active {
  padding: 3px 15px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 0;
}

.img-project-container {
  overflow: visible;
  min-height: 650px;
  max-width: 80%;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.carousel-item {
  color: black;
}

/* OtherProjects */

.container-other {
  width: 99vw;
  margin-bottom: 150px;
}

.container-other h3 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.repository {
  color: gray;
  transition: 0.5s;
  min-width: 25%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  text-decoration: none;
  font-size: 25px;
}

.otherProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
  width: 100%;
  flex-wrap: wrap;
}

/* GITHUB ICON */
@media (max-width: 1100px) {
  .repository {
    min-width: 33%;
  }
}

@media (max-width: 850px) {
  .repository {
    min-width: 50%;
  }
}

@media (max-width: 600px) {
  .repository {
    min-width: 100%;
  }

  .img-project-container {
    max-width: 95%;
  }
}
