.ind-cer-container {
  box-shadow: 8px 13px 26px 0px rgba(26, 26, 26, 0.69);
  padding: 0;
  max-width: 600px;
  /* max-height: 700px; */
  margin: 15px;
}

.card-title {
  color: rgb(255, 0, 191);
}
